<!-- home.ejs -->

<link rel="stylesheet" href="<%= assetPath('CSS/home.css') %>">

<div id="home-container">

  <section id="left-corner">
    <h4>
      Other Options
    </h4>
  </section>

  <section id="feed-posts">

    <h4>
      Posts
    </h4>
  
    <%if(locals.user){%>
      <form action="/posts/create" id="new-post-form" method="post">
      
        <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here ..."></textarea>
    
        <input type="submit" value="Post">
    
      </form>
    <%}%>
  
    <div id="posts-list-container">
      <ol type="A">
        <%for (post of posts){%>
  
          <%- include("_post") -%>
          
        <%}%>
      </ol>
    </div>
  
  </section>
  
  <section id = "user-friends">

    <h2>Friends list</h2>
   
    <% for(u of addedfriends) {%>
        <!-- TODO need to ad in seperate page -->       
        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
         <br><br>
    <% } %>
   
    <h2>Users</h2>

    <% for(u of all_users) {%>
        <!-- for displaying user profile link -->
        <p>           
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>
    <% } %>
  </section>

  <%-include("_chat_box")-%>
  
</div>

<!-- importing this script for creating the comments -->
<script src="<%= assetPath('Javascript/home_post_comments.js') %> " ></script>
<script src="<%= assetPath('Javascript/home_posts.js') %>"></script>

<script src="<%= assetPath('Javascript/toggle_likes.js')%>"></script>
<script>
  $(".toggle-like-button").each(function(){
    let self = this
    let toggleLike = new ToggleLike(self)
  })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script src="<%= assetPath('Javascript/chat_engine.js')%>"></script>

<!-- sending a request for connection -->
<%if(locals.user){%>
  <script>
    new ChatEngine("user-chat-box","<%= locals.user.email%>")
  </script>
<%}%>