<!-- layout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= siteName %>
	</title>
	
	<script src="https://kit.fontawesome.com/36a013a039.js" crossorigin="anonymous"></script>

	<link rel="icon" href="https://raw.githubusercontent.com/seanyeh/fontawesome-svgs/a16040d06ccdc20f12a3498af75baed13e2aea42/svg/user-friends-solid.svg">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	<link rel="stylesheet" href="<%= assetPath('CSS/layout.css')%>">

	<%- style %>
</head>
<body>
	<header>
		<%- include("_header")%>
	</header>

	<div class="main-content">
		<%- body %>
	</main>
	
	<footer>
		<%- include("_footer")%>
	</footer>

	<%- script %>

	<script>

		<% if(flash.success && flash.success.length>0){ %>
			new Noty({
				theme: "nest",
				text: "<%= flash.success %>",
				type: "success",
				layout: "topRight",
				timeout: 500
			}).show();
		<% } %>

		<% if(flash.error && flash.error.length>0){ %>
			new Noty({
				theme: "nest",
				text: "<%= flash.error %>",
				type: "error",
				layout: "topRight",
				timeout: 500
			}).show();
		<% } %>

	</script>

</body>
</html>