<!-- user_profile.ejs -->

<link rel="stylesheet" href="<%= assetPath('CSS/user_profile.css')%>">

<div id="profile-outer-container">
  <div id="profile-container">
    <img class="avatar" src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" onerror=this.src="https://cdn-icons-png.flaticon.com/512/1864/1864509.png">
  
  
    <%if(user.id == profile_user.id){%>
  
      <div id="own-profile">
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">

          <label for="name">
            Name : 
          </label>
          <input id="name" type="text" name="name" placeholder="<%=profile_user.name%>" required>

          <label for="name">
            Email : 
          </label>
          <input type="email" name="email" placeholder="<%=profile_user.email%>" required>

          <input class="upload-avatar" type="file" name="avatar" placeholder="Profile Picture">
    
          <input class="submit-button" type="submit" value="Update">
        </form>
      </div>
  
    <%}else{%>
  
      <div id="others-profile">
        <label>Name : </label>
        <p><%= profile_user.name %></p>
        <label>E-mail Id : </label>
        <p><%= profile_user.email %></p>
        <!-- <p><%= profile_user.password %> Password : ********</p>  -->
        <p>
          <% if(friendOrNot) { %>
              <form action="/friendship/addfriend" method="post">
                  <input type="hidden" name="friendUserId" value="<%= profile_user.id %>">
                  <input class="friend-unfriend-button" type="submit" value="Unfriend">
              </form>
          <% } else {%> 
          <form action="/friendship/addfriend" method="post">
              <input type="hidden" name="friendUserId" value="<%= profile_user.id %>">
              <input class="friend-unfriend-button" type="submit" value="Add Friend">
          </form>
          <% } %>
          <!-- <a href="/friendship/addfriend" data-method="post"> + Add friends </a> -->
          <!-- <%= profile_user.friendship %> -->
          <!-- <% if(profile_user.friendship) %> -->
        </p>
      </div>
      
    <%}%>
  </div>
</div>